* {
  padding: 0;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  background-color: rgb(176, 174, 178);
}

.footer_text {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap: 5px;
}

.footer .footer_logo {
  display: flex;
  width: auto;
  height: 50px;
  object-fit: contain;
  margin-left: 10px;
}
.footer_logo img {
  height: 50px;
  width: 50px;
}
.contact {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
