* {
  margin: 0;
  padding: 0;
}
/* body {
  width: 50%;
  height: 70vh;
} */

.containers_cmt form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 15px;
  gap: 20px;
  border: solid;
}

.container_learner {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 5px;
}

.comment_profile {
  display: flex;
  width: 50px;
  justify-content: start;
  flex-direction: row;
  height: auto;
}

.comment_profile img {
  width: 50px;
  border-radius: 50%;
}

.comment_details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container_expertise {
  display: flex;
  align-items: end;
  gap: 5px;
  justify-self: end;
  flex-direction: row-reverse;
}

.comment_ex_profile img {
  display: flex;
  width: 50px;
  border-radius: 50%;
}
.comment_ex_details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
